/.vs
/PTANonCrown/bin
/PTANonCrown/.vs
/PTANonCrown/obj
/PTANonCrown.Data/bin
/PTANonCrown.Data/obj
/PTANonCrown.Data/obj
PTANonCrown.Data/obj/PTANonCrown.Data.csproj.nuget.g.props
PTANonCrown.Data/obj/project.nuget.cache
/PTANonCrown.Data/obj
/PTANonCrown.Data/Migrations
/PTANonCrown.Data/Migrations
/PTANonCrown/Properties/PublishProfiles
/PTANonCrown/MsixContent
/PTANonCrown/publish
PTANonCrown/PTANonCrown.pfx
/publish
out.xml
log.binlog
/PTAPrivateLandApp
/bin
/obj
