<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PTANonCrownWix" Language="1033" Version="1.0.0.0" Manufacturer="Dept Natural Resources" UpgradeCode="1bb81c85-3e7f-491b-9194-3d2dd72784c9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser"  />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PTANonCrownWix" Level="1">
			<ComponentGroupRef Id="ApplicationFiles" />
		</Feature>
	</Product>


	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="PTANonCrownWix" />
				<Component Id="ApplicationExecutable" Guid="*">
					<File Id="ApplicationEXE" Source="PTANonCrown.exe" KeyPath="yes" Checksum="yes" />
				</Component>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="PTANonCrownWixStartMenu" Name="PTANonCrownWix" />
			</Directory>
		</Directory>
		<DirectoryRef Id="ProgramMenuFolder">
			<Component Id="ApplicationStartMenuShortcut" Guid="*">
				<Shortcut Id="StartMenuShortcut"
						  Name="PTA Menu Name"
						  Description="Launch Your Application"
						  Target="[#ApplicationEXE]"
						  WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\YourCompanyName\YourApplicationName" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

</Wix>
