<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define PTANonCrown_TargetDir=$(var.PTANonCrown.TargetDir)?>
	<Product Id="*" Name="PTAPrivateLandWix" Language="1033" Version="1.0.0.0" Manufacturer="Province of Nova Scotia" UpgradeCode="1e1f6004-fd7b-4ae5-a94f-98e1399c459f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PTAPrivateLandWix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PTAPrivateLandWix" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="pta_iconSmallTile.scale_125.png" Guid="16b50aac-7d62-48ad-b02d-ed397439ffce">
			  <File Id="pta_iconSmallTile.scale_125.png" Name="pta_iconSmallTile.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconSmallTile.scale-125.png" />
			</Component>
			<Component Id="AboutAssets.txt" Guid="5315be8a-3422-43e9-bbb7-5f7a0de0b360">
			  <File Id="AboutAssets.txt" Name="AboutAssets.txt" Source="$(var.PTANonCrown_TargetDir)AboutAssets.txt" />
			</Component>
			<Component Id="Microsoft.Windows.SDK.NET.dll" Guid="e49d293e-95ca-479c-944b-552a74d4a6d6">
			  <File Id="Microsoft.Windows.SDK.NET.dll" Name="Microsoft.Windows.SDK.NET.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.SDK.NET.dll" />
			</Component>
			<Component Id="CommunityToolkit.Maui.Core.dll" Guid="43c09ba6-d832-4b4b-85d5-6eaa50fb88f5">
			  <File Id="CommunityToolkit.Maui.Core.dll" Name="CommunityToolkit.Maui.Core.dll" Source="$(var.PTANonCrown_TargetDir)CommunityToolkit.Maui.Core.dll" />
			</Component>
			<Component Id="PTANonCrown.Data.dll" Guid="c2e0e3fa-f6aa-4df6-b55e-0800510b9cc8">
			  <File Id="PTANonCrown.Data.dll" Name="PTANonCrown.Data.dll" Source="$(var.PTANonCrown_TargetDir)PTANonCrown.Data.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.dll" Guid="f1832afc-680c-4206-90a1-037603d51830">
			  <File Id="Microsoft.EntityFrameworkCore.dll" Name="Microsoft.EntityFrameworkCore.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.EntityFrameworkCore.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="27cd868a-bd8b-4433-a4fa-d34e6a9d4699">
			  <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Windows.Widgets.Projection.dll" Guid="afe48727-b1a9-4f3e-bc09-b738e8db73db">
			  <File Id="Microsoft.Windows.Widgets.Projection.dll" Name="Microsoft.Windows.Widgets.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.Widgets.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.Management.Deployment.Projection.dll" Guid="37c13efa-a3cd-4761-937d-133dfd8d989c">
			  <File Id="Microsoft.Windows.Management.Deployment.Projection.dll" Name="Microsoft.Windows.Management.Deployment.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.Management.Deployment.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.PushNotifications.Projection.dll" Guid="51dd7fd1-c2d7-46ef-9044-bd4670a31f69">
			  <File Id="Microsoft.Windows.PushNotifications.Projection.dll" Name="Microsoft.Windows.PushNotifications.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.PushNotifications.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.System.Projection.dll" Guid="8019ea98-59d5-420e-9650-000d3a37d280">
			  <File Id="Microsoft.Windows.System.Projection.dll" Name="Microsoft.Windows.System.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.System.Projection.dll" />
			</Component>
			<Component Id="Microsoft.WinUI.dll" Guid="8e1396ea-f596-4ebc-b038-49a04a64e09e">
			  <File Id="Microsoft.WinUI.dll" Name="Microsoft.WinUI.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.WinUI.dll" />
			</Component>
			<Component Id="WinRT.Runtime.dll" Guid="d49f4ae9-62eb-4ab3-9bc0-4fc5f65a830f">
			  <File Id="WinRT.Runtime.dll" Name="WinRT.Runtime.dll" Source="$(var.PTANonCrown_TargetDir)WinRT.Runtime.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Controls.Xaml.dll" Guid="18e3caf6-951d-450c-a712-5148366b140c">
			  <File Id="Microsoft.Maui.Controls.Xaml.dll" Name="Microsoft.Maui.Controls.Xaml.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Controls.Xaml.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Graphics.dll" Guid="9af2a97e-b144-4668-844d-f6abe7f917c6">
			  <File Id="Microsoft.Maui.Graphics.dll" Name="Microsoft.Maui.Graphics.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Graphics.dll" />
			</Component>
			<Component Id="Microsoft.Windows.AppNotifications.Projection.dll" Guid="637f670a-3fd7-4d3b-8de2-3f764ca91fbf">
			  <File Id="Microsoft.Windows.AppNotifications.Projection.dll" Name="Microsoft.Windows.AppNotifications.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.AppNotifications.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.AppLifecycle.Projection.dll" Guid="2b4e267a-d76f-4556-a97c-ec9824153228">
			  <File Id="Microsoft.Windows.AppLifecycle.Projection.dll" Name="Microsoft.Windows.AppLifecycle.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.AppLifecycle.Projection.dll" />
			</Component>
			<Component Id="CsvHelper.dll" Guid="ddcbf2b2-3131-4797-a9e6-b3e47686a0d3">
			  <File Id="CsvHelper.dll" Name="CsvHelper.dll" Source="$(var.PTANonCrown_TargetDir)CsvHelper.dll" />
			</Component>
			<Component Id="Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" Guid="5356d33f-e96f-428c-8c3e-8daa5ce612e3">
			  <File Id="Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" Name="Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" Guid="23a08a9e-4bfb-49dd-a123-4a89e566ca4f">
			  <File Id="Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" Name="Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.dll" />
			</Component>
			<Component Id="Microsoft.InteractiveExperiences.Projection.dll" Guid="4bb14710-3bb0-4ee5-87ba-c78a13dc5447">
			  <File Id="Microsoft.InteractiveExperiences.Projection.dll" Name="Microsoft.InteractiveExperiences.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.InteractiveExperiences.Projection.dll" />
			</Component>
			<Component Id="Microsoft.Windows.ApplicationModel.Resources.Projection.dll" Guid="8a539679-de3b-4d11-b8c1-61fdec37e361">
			  <File Id="Microsoft.Windows.ApplicationModel.Resources.Projection.dll" Name="Microsoft.Windows.ApplicationModel.Resources.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.ApplicationModel.Resources.Projection.dll" />
			</Component>
			<Component Id="PTANonCrown.dll" Guid="e4a771a3-7fd6-4dc3-bb9f-b82328e744f9">
			  <File Id="PTANonCrown.dll" Name="PTANonCrown.dll" Source="$(var.PTANonCrown_TargetDir)PTANonCrown.dll" />
			</Component>
			<Component Id="Microsoft.Maui.dll" Guid="1c3b4bbd-457d-4217-b799-596382c54115">
			  <File Id="Microsoft.Maui.dll" Name="Microsoft.Maui.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Controls.dll" Guid="c5e641fc-7461-4f5a-a92a-fb1070fe0440">
			  <File Id="Microsoft.Maui.Controls.dll" Name="Microsoft.Maui.Controls.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Controls.dll" />
			</Component>
			<Component Id="Microsoft.Graphics.Canvas.Interop.dll" Guid="bec1341c-3482-4d2f-8005-42c089beb548">
			  <File Id="Microsoft.Graphics.Canvas.Interop.dll" Name="Microsoft.Graphics.Canvas.Interop.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Graphics.Canvas.Interop.dll" />
			</Component>
			<Component Id="tree.scale_100.png" Guid="2734ec2b-5daa-4bd5-95c9-df618faa73b2">
			  <File Id="tree.scale_100.png" Name="tree.scale-100.png" Source="$(var.PTANonCrown_TargetDir)tree.scale-100.png" />
			</Component>
			<Component Id="PTANonCrown.runtimeconfig.json" Guid="4b697dad-5932-4df4-9d38-6fa100c6b664">
			  <File Id="PTANonCrown.runtimeconfig.json" Name="PTANonCrown.runtimeconfig.json" Source="$(var.PTANonCrown_TargetDir)PTANonCrown.runtimeconfig.json" />
			</Component>
			<Component Id="pta_iconWideTile.scale_400.png" Guid="dcb8659e-aca5-4583-b16f-2e748d45ceda">
			  <File Id="pta_iconWideTile.scale_400.png" Name="pta_iconWideTile.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconWideTile.scale-400.png" />
			</Component>
			<Component Id="Microsoft.Windows.AppNotifications.Builder.Projection.dll" Guid="4617bdf3-af9f-4dd2-838d-9096a454ba90">
			  <File Id="Microsoft.Windows.AppNotifications.Builder.Projection.dll" Name="Microsoft.Windows.AppNotifications.Builder.Projection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Windows.AppNotifications.Builder.Projection.dll" />
			</Component>
			<Component Id="save_icon.scale_100.png" Guid="fa15aedf-a439-4f7e-8311-c1cdc3e4af3b">
			  <File Id="save_icon.scale_100.png" Name="save_icon.scale-100.png" Source="$(var.PTANonCrown_TargetDir)save_icon.scale-100.png" />
			</Component>
			<Component Id="ClosedXML.dll" Guid="c6e438db-58be-4991-866d-661b83dfae12">
			  <File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.PTANonCrown_TargetDir)ClosedXML.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Essentials.dll" Guid="7f1b2d28-bcb4-4b99-b7b3-7ad80cee543c">
			  <File Id="Microsoft.Maui.Essentials.dll" Name="Microsoft.Maui.Essentials.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Essentials.dll" />
			</Component>
			<Component Id="CommunityToolkit.Maui.dll" Guid="dcfb9db4-4092-4256-aa21-28bc149e87dd">
			  <File Id="CommunityToolkit.Maui.dll" Name="CommunityToolkit.Maui.dll" Source="$(var.PTANonCrown_TargetDir)CommunityToolkit.Maui.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.core.dll" Guid="025e53e7-8d4f-472d-9985-fb7d09e5a608">
			  <File Id="SQLitePCLRaw.core.dll" Name="SQLitePCLRaw.core.dll" Source="$(var.PTANonCrown_TargetDir)SQLitePCLRaw.core.dll" />
			</Component>
			<Component Id="Microsoft.Data.Sqlite.dll" Guid="0297672b-e904-4cfd-b2d3-22f59119bfd0">
			  <File Id="Microsoft.Data.Sqlite.dll" Name="Microsoft.Data.Sqlite.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Data.Sqlite.dll" />
			</Component>
			<Component Id="RBush.dll" Guid="e911d107-6585-4b44-8e55-833f6d6704e1">
			  <File Id="RBush.dll" Name="RBush.dll" Source="$(var.PTANonCrown_TargetDir)RBush.dll" />
			</Component>
			<Component Id="ClosedXML.Parser.dll" Guid="970f0e49-5b0b-41a2-b194-a59ae0cf3731">
			  <File Id="ClosedXML.Parser.dll" Name="ClosedXML.Parser.dll" Source="$(var.PTANonCrown_TargetDir)ClosedXML.Parser.dll" />
			</Component>
			<Component Id="ExcelNumberFormat.dll" Guid="6bf250fc-bdda-4b1c-8f48-03628c3800e6">
			  <File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.PTANonCrown_TargetDir)ExcelNumberFormat.dll" />
			</Component>
			<Component Id="SixLabors.Fonts.dll" Guid="d209674f-eb47-4002-8c5d-abbcf956033c">
			  <File Id="SixLabors.Fonts.dll" Name="SixLabors.Fonts.dll" Source="$(var.PTANonCrown_TargetDir)SixLabors.Fonts.dll" />
			</Component>
			<Component Id="DocumentFormat.OpenXml.dll" Guid="9ee3009e-8167-456a-9cf3-495af84a345e">
			  <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.PTANonCrown_TargetDir)DocumentFormat.OpenXml.dll" />
			</Component>
			<Component Id="System.IO.Packaging.dll" Guid="564bc3a5-d902-49e1-b039-a31c7094f930">
			  <File Id="System.IO.Packaging.dll" Name="System.IO.Packaging.dll" Source="$(var.PTANonCrown_TargetDir)System.IO.Packaging.dll" />
			</Component>
			<Component Id="DocumentFormat.OpenXml.Framework.dll" Guid="98ee1bea-8a27-4575-afeb-0cc42b7e0445">
			  <File Id="DocumentFormat.OpenXml.Framework.dll" Name="DocumentFormat.OpenXml.Framework.dll" Source="$(var.PTANonCrown_TargetDir)DocumentFormat.OpenXml.Framework.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Caching.Memory.dll" Guid="ee8f02ad-2089-4de8-a049-3fe6f83823e0">
			  <File Id="Microsoft.Extensions.Caching.Memory.dll" Name="Microsoft.Extensions.Caching.Memory.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Caching.Memory.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Caching.Abstractions.dll" Guid="20cca9c5-88fd-4c3c-b7bf-fe50eb798aa5">
			  <File Id="Microsoft.Extensions.Caching.Abstractions.dll" Name="Microsoft.Extensions.Caching.Abstractions.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Caching.Abstractions.dll" />
			</Component>
			<Component Id="System.Text.Encodings.Web.dll" Guid="0e2d406f-5ceb-450d-b461-693a269fd33a">
			  <File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="$(var.PTANonCrown_TargetDir)System.Text.Encodings.Web.dll" />
			</Component>
			<Component Id="System.IO.Pipelines.dll" Guid="d027ec32-7434-47b5-a40c-e53ba43bede9">
			  <File Id="System.IO.Pipelines.dll" Name="System.IO.Pipelines.dll" Source="$(var.PTANonCrown_TargetDir)System.IO.Pipelines.dll" />
			</Component>
			<Component Id="System.Text.Json.dll" Guid="b8dba5e1-125a-4c7f-8032-b914599b0b19">
			  <File Id="System.Text.Json.dll" Name="System.Text.Json.dll" Source="$(var.PTANonCrown_TargetDir)System.Text.Json.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Guid="0ccafd09-e74d-4a3c-b8bf-2c62a0f7988b">
			  <File Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Name="Microsoft.EntityFrameworkCore.Abstractions.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.EntityFrameworkCore.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.Relational.dll" Guid="a620685d-b0f5-41aa-9a7e-122a75f46f09">
			  <File Id="Microsoft.EntityFrameworkCore.Relational.dll" Name="Microsoft.EntityFrameworkCore.Relational.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" />
			</Component>
			<Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="bcd48c23-5366-4531-93c6-ce8259ecd966">
			  <File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.PTANonCrown_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Options.dll" Guid="e0ac7284-059d-420a-a633-3b5236385cbc">
			  <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Options.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.dll" Guid="cc01b4b5-7a3d-48b6-ab18-1dfd31fbbe93">
			  <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Logging.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="bfd051f8-d794-4acc-ae8a-42d2237a75ef">
			  <File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.dll" Guid="245d7450-18d6-4a6e-8797-39d291ec2e74">
			  <File Id="Microsoft.Extensions.Configuration.dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Configuration.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Primitives.dll" Guid="3a316482-029a-43d4-b8cb-3a20ed583bf6">
			  <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Primitives.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="75a5057b-e68b-4329-a4a6-d06528e895ff">
			  <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll" Guid="238154c6-450f-4e9c-a95d-6f051f16abea">
			  <File Id="Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll" Name="Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Graphics.Win2D.WinUI.Desktop.dll" />
			</Component>
			<Component Id="CommunityToolkit.Mvvm.dll" Guid="c71a5ba0-4451-45d2-a3f3-56bcc1162080">
			  <File Id="CommunityToolkit.Mvvm.dll" Name="CommunityToolkit.Mvvm.dll" Source="$(var.PTANonCrown_TargetDir)CommunityToolkit.Mvvm.dll" />
			</Component>
			<Component Id="Microsoft.Maui.Controls.Compatibility.dll" Guid="f24868d6-101d-427c-999c-60965039e2bd">
			  <File Id="Microsoft.Maui.Controls.Compatibility.dll" Name="Microsoft.Maui.Controls.Compatibility.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Maui.Controls.Compatibility.dll" />
			</Component>
			<Component Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Guid="93490a75-23d5-48cc-b584-38471f074fb2">
			  <File Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Name="Microsoft.EntityFrameworkCore.Sqlite.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Debug.dll" Guid="2401f156-0b3f-4014-a3cf-ef471cd40b3e">
			  <File Id="Microsoft.Extensions.Logging.Debug.dll" Name="Microsoft.Extensions.Logging.Debug.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
			</Component>
			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="e85fd2b3-69b3-4fdf-a506-5d7463fe857e">
			  <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
			</Component>
			<Component Id="pta_iconWideTile.scale_200.png" Guid="edfaa8ef-4ad4-416b-b445-60dcd98afafd">
			  <File Id="pta_iconWideTile.scale_200.png" Name="pta_iconWideTile.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconWideTile.scale-200.png" />
			</Component>
			<Component Id="pta_iconWideTile.scale_150.png" Guid="32ad41d0-56c0-48f2-a606-fc5be6d7f55f">
			  <File Id="pta_iconWideTile.scale_150.png" Name="pta_iconWideTile.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconWideTile.scale-150.png" />
			</Component>
			<Component Id="pta_iconWideTile.scale_125.png" Guid="02780520-4090-4d50-b4f3-82e54f467770">
			  <File Id="pta_iconWideTile.scale_125.png" Name="pta_iconWideTile.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconWideTile.scale-125.png" />
			</Component>
			<Component Id="pta_iconWideTile.scale_100.png" Guid="f2b77725-5a4c-4ba1-a6c5-b7b6fd0bfe37">
			  <File Id="pta_iconWideTile.scale_100.png" Name="pta_iconWideTile.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconWideTile.scale-100.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_lightunplated_targetsize_24.png" Guid="3f63e37c-1b68-4711-ab2b-9758241be2f3">
			  <File Id="pta_iconLogo.altform_lightunplated_targetsize_24.png" Name="pta_iconLogo.altform-lightunplated_targetsize-24.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-lightunplated_targetsize-24.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_lightunplated_targetsize_16.png" Guid="9b38cf73-2ba3-4e51-a4cf-0dbd7c83ee0e">
			  <File Id="pta_iconLogo.altform_lightunplated_targetsize_16.png" Name="pta_iconLogo.altform-lightunplated_targetsize-16.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-lightunplated_targetsize-16.png" />
			</Component>
			<Component Id="pta_iconLargeTile.scale_400.png" Guid="47f9d365-016d-4d79-b019-8d0126a17933">
			  <File Id="pta_iconLargeTile.scale_400.png" Name="pta_iconLargeTile.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLargeTile.scale-400.png" />
			</Component>
			<Component Id="pta_iconLargeTile.scale_200.png" Guid="740cd002-3419-43ec-8322-0c44b227e1f5">
			  <File Id="pta_iconLargeTile.scale_200.png" Name="pta_iconLargeTile.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLargeTile.scale-200.png" />
			</Component>
			<Component Id="pta_iconLargeTile.scale_150.png" Guid="e3ab2b08-443c-4626-ac7f-11acd7f4aa6e">
			  <File Id="pta_iconLargeTile.scale_150.png" Name="pta_iconLargeTile.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLargeTile.scale-150.png" />
			</Component>
			<Component Id="pta_iconLargeTile.scale_125.png" Guid="4187260a-65ab-491f-87f0-ae136ac426f1">
			  <File Id="pta_iconLargeTile.scale_125.png" Name="pta_iconLargeTile.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLargeTile.scale-125.png" />
			</Component>
			<Component Id="pta_iconLargeTile.scale_100.png" Guid="c28a8f41-9415-4e7d-aa84-666f2dada236">
			  <File Id="pta_iconLargeTile.scale_100.png" Name="pta_iconLargeTile.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLargeTile.scale-100.png" />
			</Component>
			<Component Id="pta_icon.ico" Guid="74f391eb-7094-4e96-9df9-e67f2fa7e261">
			  <File Id="pta_icon.ico" Name="pta_icon.ico" Source="$(var.PTANonCrown_TargetDir)pta_icon.ico" />
			</Component>
			<Component Id="new_icon.scale_100.png" Guid="bacaf701-c5bd-4ffe-97d0-6663c82cdee6">
			  <File Id="new_icon.scale_100.png" Name="new_icon.scale-100.png" Source="$(var.PTANonCrown_TargetDir)new_icon.scale-100.png" />
			</Component>
			<Component Id="load_icon.scale_100.png" Guid="92168e57-8fd4-4bf2-b04d-64014efedf2c">
			  <File Id="load_icon.scale_100.png" Name="load_icon.scale-100.png" Source="$(var.PTANonCrown_TargetDir)load_icon.scale-100.png" />
			</Component>
			<Component Id="info.scale_100.png" Guid="aa062c52-52b7-478e-b349-3f9f0a0e228d">
			  <File Id="info.scale_100.png" Name="info.scale-100.png" Source="$(var.PTANonCrown_TargetDir)info.scale-100.png" />
			</Component>
			<Component Id="dotnet_bot.scale_400.png" Guid="12fa98ac-1db7-4685-a90e-298e61b0775e">
			  <File Id="dotnet_bot.scale_400.png" Name="dotnet_bot.scale-400.png" Source="$(var.PTANonCrown_TargetDir)dotnet_bot.scale-400.png" />
			</Component>
			<Component Id="dotnet_bot.scale_200.png" Guid="b3d98ae1-e4b4-4e55-a1a5-f823527c02fd">
			  <File Id="dotnet_bot.scale_200.png" Name="dotnet_bot.scale-200.png" Source="$(var.PTANonCrown_TargetDir)dotnet_bot.scale-200.png" />
			</Component>
			<Component Id="dotnet_bot.scale_150.png" Guid="0aefddd5-8bd3-4a5d-b333-4581beb445b7">
			  <File Id="dotnet_bot.scale_150.png" Name="dotnet_bot.scale-150.png" Source="$(var.PTANonCrown_TargetDir)dotnet_bot.scale-150.png" />
			</Component>
			<Component Id="dotnet_bot.scale_125.png" Guid="72e08173-87cf-4f61-b405-a0c91f3c6eea">
			  <File Id="dotnet_bot.scale_125.png" Name="dotnet_bot.scale-125.png" Source="$(var.PTANonCrown_TargetDir)dotnet_bot.scale-125.png" />
			</Component>
			<Component Id="dotnet_bot.scale_100.png" Guid="1dca92a1-117a-4119-a8bc-1b2bed11a494">
			  <File Id="dotnet_bot.scale_100.png" Name="dotnet_bot.scale-100.png" Source="$(var.PTANonCrown_TargetDir)dotnet_bot.scale-100.png" />
			</Component>
			<Component Id="delete_button.scale_100.png" Guid="8b050f9f-4042-4093-806d-ee73aeeec445">
			  <File Id="delete_button.scale_100.png" Name="delete_button.scale-100.png" Source="$(var.PTANonCrown_TargetDir)delete_button.scale-100.png" />
			</Component>
			<Component Id="OpenSans_Semibold.ttf" Guid="df4170a4-fa5e-4429-b876-08cc6d23131b">
			  <File Id="OpenSans_Semibold.ttf" Name="OpenSans-Semibold.ttf" Source="$(var.PTANonCrown_TargetDir)OpenSans-Semibold.ttf" />
			</Component>
			<Component Id="OpenSans_Regular.ttf" Guid="1cdea50e-207f-4a74-ad4d-13fff5faca83">
			  <File Id="OpenSans_Regular.ttf" Name="OpenSans-Regular.ttf" Source="$(var.PTANonCrown_TargetDir)OpenSans-Regular.ttf" />
			</Component>
			<Component Id="splashSplashScreen.scale_400.png" Guid="74d16a17-47cb-4617-a45e-4584fc898136">
			  <File Id="splashSplashScreen.scale_400.png" Name="splashSplashScreen.scale-400.png" Source="$(var.PTANonCrown_TargetDir)splashSplashScreen.scale-400.png" />
			</Component>
			<Component Id="splashSplashScreen.scale_200.png" Guid="95b1f355-fd43-444c-b667-07f72537ad13">
			  <File Id="splashSplashScreen.scale_200.png" Name="splashSplashScreen.scale-200.png" Source="$(var.PTANonCrown_TargetDir)splashSplashScreen.scale-200.png" />
			</Component>
			<Component Id="splashSplashScreen.scale_150.png" Guid="d52f9f87-4ce8-4c56-be17-9d0409ed9ae0">
			  <File Id="splashSplashScreen.scale_150.png" Name="splashSplashScreen.scale-150.png" Source="$(var.PTANonCrown_TargetDir)splashSplashScreen.scale-150.png" />
			</Component>
			<Component Id="splashSplashScreen.scale_125.png" Guid="c5177170-88de-41f6-86ec-f9f21931c679">
			  <File Id="splashSplashScreen.scale_125.png" Name="splashSplashScreen.scale-125.png" Source="$(var.PTANonCrown_TargetDir)splashSplashScreen.scale-125.png" />
			</Component>
			<Component Id="splashSplashScreen.scale_100.png" Guid="13fb834c-d774-4c91-ab8a-0875802f7c2d">
			  <File Id="splashSplashScreen.scale_100.png" Name="splashSplashScreen.scale-100.png" Source="$(var.PTANonCrown_TargetDir)splashSplashScreen.scale-100.png" />
			</Component>
			<Component Id="SoilPhases.csv" Guid="918e9909-7b4b-44a7-9d60-a69b06782d0b">
			  <File Id="SoilPhases.csv" Name="SoilPhases.csv" Source="$(var.PTANonCrown_TargetDir)SoilPhases.csv" />
			</Component>
			<Component Id="lookup.db" Guid="a4a0d744-ca54-4f6e-a078-5655858a17b2">
			  <File Id="lookup.db" Name="lookup.db" Source="$(var.PTANonCrown_TargetDir)lookup.db" />
			</Component>
			<Component Id="LabelHelpMenu.xlsx" Guid="8b702917-6140-4a60-a7be-82fefc2135e0">
			  <File Id="LabelHelpMenu.xlsx" Name="LabelHelpMenu.xlsx" Source="$(var.PTANonCrown_TargetDir)LabelHelpMenu.xlsx" />
			</Component>
			<Component Id="EcoLookup.csv" Guid="53c5c7a7-105e-4119-b939-86e083ff2f07">
			  <File Id="EcoLookup.csv" Name="EcoLookup.csv" Source="$(var.PTANonCrown_TargetDir)EcoLookup.csv" />
			</Component>
			<Component Id="DbhHeights.csv" Guid="47c05702-085f-43d9-b4e9-bd3a99919411">
			  <File Id="DbhHeights.csv" Name="DbhHeights.csv" Source="$(var.PTANonCrown_TargetDir)DbhHeights.csv" />
			</Component>
			<Component Id="pta_iconLogo.altform_lightunplated_targetsize_256.png" Guid="c3694cce-bc68-4546-8d8f-ec0c5d46e9bf">
			  <File Id="pta_iconLogo.altform_lightunplated_targetsize_256.png" Name="pta_iconLogo.altform-lightunplated_targetsize-256.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-lightunplated_targetsize-256.png" />
			</Component>
			<Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="16ca9a54-0049-4e49-9325-09a84816bb98">
			  <File Id="Microsoft.Extensions.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" Source="$(var.PTANonCrown_TargetDir)Microsoft.Extensions.DependencyModel.dll" />
			</Component>
			<Component Id="pta_iconLogo.altform_lightunplated_targetsize_32.png" Guid="6d72e6ff-c64a-4d8e-8da4-c6a6e635b6cd">
			  <File Id="pta_iconLogo.altform_lightunplated_targetsize_32.png" Name="pta_iconLogo.altform-lightunplated_targetsize-32.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-lightunplated_targetsize-32.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_unplated_targetsize_16.png" Guid="e711704f-3b73-4301-bd7c-f5828eba650a">
			  <File Id="pta_iconLogo.altform_unplated_targetsize_16.png" Name="pta_iconLogo.altform-unplated_targetsize-16.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-unplated_targetsize-16.png" />
			</Component>
			<Component Id="pta_iconStoreLogo.scale_400.png" Guid="a8e8f3fa-140b-46cc-9537-2e848f714637">
			  <File Id="pta_iconStoreLogo.scale_400.png" Name="pta_iconStoreLogo.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconStoreLogo.scale-400.png" />
			</Component>
			<Component Id="pta_iconStoreLogo.scale_200.png" Guid="688b0588-ebf0-40ba-b416-1832420cf522">
			  <File Id="pta_iconStoreLogo.scale_200.png" Name="pta_iconStoreLogo.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconStoreLogo.scale-200.png" />
			</Component>
			<Component Id="pta_iconStoreLogo.scale_150.png" Guid="d185ac93-5cb7-49ab-923b-437df7525a80">
			  <File Id="pta_iconStoreLogo.scale_150.png" Name="pta_iconStoreLogo.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconStoreLogo.scale-150.png" />
			</Component>
			<Component Id="pta_iconStoreLogo.scale_125.png" Guid="ba6e428e-a4c0-43e3-9cbd-120b8b6877bf">
			  <File Id="pta_iconStoreLogo.scale_125.png" Name="pta_iconStoreLogo.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconStoreLogo.scale-125.png" />
			</Component>
			<Component Id="pta_iconStoreLogo.scale_100.png" Guid="ec17f957-3672-47a3-9e4e-e888a1b17625">
			  <File Id="pta_iconStoreLogo.scale_100.png" Name="pta_iconStoreLogo.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconStoreLogo.scale-100.png" />
			</Component>
			<Component Id="pta_iconSmallTile.scale_400.png" Guid="c508157d-b4a0-49a4-85c2-c20bfd65447e">
			  <File Id="pta_iconSmallTile.scale_400.png" Name="pta_iconSmallTile.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconSmallTile.scale-400.png" />
			</Component>
			<Component Id="pta_iconSmallTile.scale_200.png" Guid="a2501d55-c6f0-48f5-84b9-9277b89ecf70">
			  <File Id="pta_iconSmallTile.scale_200.png" Name="pta_iconSmallTile.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconSmallTile.scale-200.png" />
			</Component>
			<Component Id="pta_iconSmallTile.scale_150.png" Guid="046941e0-3bb9-4e1d-b971-d8b4377c5daf">
			  <File Id="pta_iconSmallTile.scale_150.png" Name="pta_iconSmallTile.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconSmallTile.scale-150.png" />
			</Component>
			<Component Id="pta_iconSmallTile.scale_100.png" Guid="40f81b74-a55b-41ce-8f9c-9624873749b6">
			  <File Id="pta_iconSmallTile.scale_100.png" Name="pta_iconSmallTile.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconSmallTile.scale-100.png" />
			</Component>
			<Component Id="pta_iconMediumTile.scale_400.png" Guid="40c08c55-c0d0-4c10-8adb-241d1a71c620">
			  <File Id="pta_iconMediumTile.scale_400.png" Name="pta_iconMediumTile.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconMediumTile.scale-400.png" />
			</Component>
			<Component Id="pta_iconMediumTile.scale_200.png" Guid="65879b2d-36ce-4644-9015-e68d7145f273">
			  <File Id="pta_iconMediumTile.scale_200.png" Name="pta_iconMediumTile.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconMediumTile.scale-200.png" />
			</Component>
			<Component Id="pta_iconMediumTile.scale_150.png" Guid="08ef5922-9535-44ed-9b0e-80aa7f2d99e6">
			  <File Id="pta_iconMediumTile.scale_150.png" Name="pta_iconMediumTile.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconMediumTile.scale-150.png" />
			</Component>
			<Component Id="pta_iconMediumTile.scale_125.png" Guid="8e5e467b-ebf2-4829-91e9-0d472d4a9ee3">
			  <File Id="pta_iconMediumTile.scale_125.png" Name="pta_iconMediumTile.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconMediumTile.scale-125.png" />
			</Component>
			<Component Id="pta_iconMediumTile.scale_100.png" Guid="831a777d-239d-44bd-a605-a28643407ce0">
			  <File Id="pta_iconMediumTile.scale_100.png" Name="pta_iconMediumTile.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconMediumTile.scale-100.png" />
			</Component>
			<Component Id="pta_iconLogo.targetsize_48.png" Guid="869b9ade-bb2c-4c69-9311-7b807f3e1ea1">
			  <File Id="pta_iconLogo.targetsize_48.png" Name="pta_iconLogo.targetsize-48.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.targetsize-48.png" />
			</Component>
			<Component Id="pta_iconLogo.targetsize_32.png" Guid="214820de-ab10-4fae-b608-0dd13d185715">
			  <File Id="pta_iconLogo.targetsize_32.png" Name="pta_iconLogo.targetsize-32.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.targetsize-32.png" />
			</Component>
			<Component Id="pta_iconLogo.targetsize_256.png" Guid="4dcc928a-6343-42c7-b12d-e77b2d21d31e">
			  <File Id="pta_iconLogo.targetsize_256.png" Name="pta_iconLogo.targetsize-256.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.targetsize-256.png" />
			</Component>
			<Component Id="pta_iconLogo.targetsize_24.png" Guid="721aad3f-24a8-4827-b9fa-d75d95ea51a4">
			  <File Id="pta_iconLogo.targetsize_24.png" Name="pta_iconLogo.targetsize-24.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.targetsize-24.png" />
			</Component>
			<Component Id="pta_iconLogo.targetsize_16.png" Guid="78b0110f-f24c-4a00-8e8a-e904b9a99eb6">
			  <File Id="pta_iconLogo.targetsize_16.png" Name="pta_iconLogo.targetsize-16.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.targetsize-16.png" />
			</Component>
			<Component Id="pta_iconLogo.scale_400.png" Guid="8f9de449-8581-42ba-a767-54bfd9928a06">
			  <File Id="pta_iconLogo.scale_400.png" Name="pta_iconLogo.scale-400.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.scale-400.png" />
			</Component>
			<Component Id="pta_iconLogo.scale_200.png" Guid="e8d5ef3d-5d39-41d3-a6c8-3fb5dae77a72">
			  <File Id="pta_iconLogo.scale_200.png" Name="pta_iconLogo.scale-200.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.scale-200.png" />
			</Component>
			<Component Id="pta_iconLogo.scale_150.png" Guid="5a690d4a-5c21-41c3-9dca-e011771df39f">
			  <File Id="pta_iconLogo.scale_150.png" Name="pta_iconLogo.scale-150.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.scale-150.png" />
			</Component>
			<Component Id="pta_iconLogo.scale_125.png" Guid="f7f89667-23da-4cca-86d3-2355994df2f6">
			  <File Id="pta_iconLogo.scale_125.png" Name="pta_iconLogo.scale-125.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.scale-125.png" />
			</Component>
			<Component Id="pta_iconLogo.scale_100.png" Guid="87a13e04-5d4a-446c-86f5-c8dd3d9ec2f6">
			  <File Id="pta_iconLogo.scale_100.png" Name="pta_iconLogo.scale-100.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.scale-100.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_unplated_targetsize_48.png" Guid="651563fa-b636-4393-a5ec-2f281f8072d7">
			  <File Id="pta_iconLogo.altform_unplated_targetsize_48.png" Name="pta_iconLogo.altform-unplated_targetsize-48.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-unplated_targetsize-48.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_unplated_targetsize_32.png" Guid="a3c88121-4ce1-4728-9413-5e82cc17bb3b">
			  <File Id="pta_iconLogo.altform_unplated_targetsize_32.png" Name="pta_iconLogo.altform-unplated_targetsize-32.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-unplated_targetsize-32.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_unplated_targetsize_256.png" Guid="5a580c2c-3fad-4496-8b65-d4b66c4794d5">
			  <File Id="pta_iconLogo.altform_unplated_targetsize_256.png" Name="pta_iconLogo.altform-unplated_targetsize-256.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-unplated_targetsize-256.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_unplated_targetsize_24.png" Guid="fc8a6b50-bb6d-410e-8a1d-54553bbee6fa">
			  <File Id="pta_iconLogo.altform_unplated_targetsize_24.png" Name="pta_iconLogo.altform-unplated_targetsize-24.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-unplated_targetsize-24.png" />
			</Component>
			<Component Id="pta_iconLogo.altform_lightunplated_targetsize_48.png" Guid="62b750e0-f6c0-4642-95da-66042fc8fba0">
			  <File Id="pta_iconLogo.altform_lightunplated_targetsize_48.png" Name="pta_iconLogo.altform-lightunplated_targetsize-48.png" Source="$(var.PTANonCrown_TargetDir)pta_iconLogo.altform-lightunplated_targetsize-48.png" />
			</Component>
			<Component Id="PTANonCrown.Data.runtimeconfig.json" Guid="75f117c7-16af-4929-a965-0f9cd8a94e68">
			  <File Id="PTANonCrown.Data.runtimeconfig.json" Name="PTANonCrown.Data.runtimeconfig.json" Source="$(var.PTANonCrown_TargetDir)PTANonCrown.Data.runtimeconfig.json" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
